#!/usr/bash
export AWS_PROFILE=[REDACTED]
export INVOKE_BASE_URL=[REDACTED]
export S3URI_LAUNCHPAD_CERT=[REDACTED]
export LAUNCHPAD_PASSPHRASE_SECRET_NAME=[REDACTED]
export LAUNCHPAD_URL=[REDACTED]

# Optional: Used in error handling, may not be needed depending on which cumulus version is in use
export STACK_PREFIX=[REDACTED]

# If your certificate and passphrase are not in AWS
export LAUNCHPAD_PASSPHRASE=[REDACTED]
export FS_LAUNCHPAD_CERT=[REDACTED]

# Lambda to return large results from OpenSearch. Deployed as part of terraform manages stack.
export OPENSEARCH_LAMBDA_ARN=arn:aws:lambda:us-west-2:<account_number>:function:<stack_prefix>-opensearch_lambda
