#!/usr/bash
export AWS_PROFILE=[REDACTED]
export INVOKE_BASE_URL=[REDACTED]
export S3URI_LAUNCHPAD_CERT=[REDACTED]
export LAUNCHPAD_PASSPHRASE_SECRET_NAME=[REDACTED]
export LAUNCHPAD_URL=[REDACTED]

# If your certificate and passphrase are not in AWS
export LAUNCHPAD_PASSPHRASE=[REDACTED]
export FS_LAUNCHPAD_CERT=[REDACTED]
